body {
  text-align: center;
  /* background-color: #011F3F; */
  /* background: #003314; */
  background: #0d3440;
}

#level-title {
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'Grandstander', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

.footer {
  font-family: 'Cormorant Garamond', serif;
  color: white;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color:#bd0000;
}

.green {
  background-color: green;
}

.blue {
  background-color: #3500b5;
}

.yellow {
  background-color: #ffcc00;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
